aws_region              = "us-east-1"
app_name                = "starttech"
mongodb_uri             = "mongodb+srv://prptamarachi:prptamarachi@cluster0.ly2lr6y.mongodb.net/?appName=Cluster0"
redis_node_type         = "cache.t3.micro"
atlas_project_id        = "YOUR_ATLAS_PROJECT_ID"
environment = "production"
alarm_email = "your-email@example.com"