aws_region              = "us-east-1"
app_name                = "starttech"
mongodb_uri             = "mongodb+srv://<username>:<password>@cluster.mongodb.net/myFirstDatabase"
redis_node_type         = "cache.t3.micro"
atlas_project_id        = "YOUR_ATLAS_PROJECT_ID"
environment = "production"
alarm_email = "your-email@example.com"